name: Daily Update EtagDb

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'
      - name: Run Go main.go
        run: |
          go mod tidy
          go run main.go